.cards__container {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  max-width: 1120px;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 20px 0 20px;
  flex-wrap: wrap;
}

.cards__items {
  margin-bottom: 24px;
}


/* Style the form - display items horizontally */
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 1%;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.form-inline button:hover {
  background-color: royalblue;
}
