
.responsive-calendar {
  /* by setting font-size, all the elements will correspond */
  font-size: 10px !important; /* default to 10px */
  display: flex;
  justify-content: space-evenly;
  margin-left: 3%;
}

.pickdate{
  margin-left: 7%;
  margin-bottom:  1%;
}

@media (max-width: 768px) {
  .responsive-calendar {
    font-size: 10px !important;
  }
}

@media (max-width: 1200px) {
  .responsive-calendar {
    font-size: 10px !important;
  }
}


@media (max-width: 1500px) {
  .responsive-calendar {
    font-size: 10px !important;
  }
}
/* Large screens */
@media (min-width: 2500px) {
  .responsive-calendar {
    font-size: 10px !important;
  }
}